allure-pytest==2.13.2
allure-python-commons==2.13.2
attrs==23.1.0
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
exceptiongroup==1.1.1
idna==3.4
importlib-metadata==6.6.0
iniconfig==2.0.0
loguru==0.7.0
packaging==23.1
pluggy==1.0.0
py==1.11.0
pytest==7.3.1
pytest-html==3.1.1
pytest-metadata==2.0.4
PyYAML==6.0
requests==2.30.0
ruamel.yaml==0.17.26
ruamel.yaml.clib==0.2.7
tomli==2.0.1
typing_extensions==4.5.0
urllib3==1.25.3
win32-setctime==1.1.0
zipp==3.15.0
